<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote Work Friendly Cafes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://documenter.getpostman.com/view/25523266/2s935kQ6UR" target="_blank">API Documentation</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<main>
    <div id="hero" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 heading_shadow text-center">CAFES IN LONDON</h1>
      <p class="lead text-center">CHOOSE YOUR CHOICE</p>
    </div>
  </div>

    {% block content %}{% endblock %}
</main>

<footer>

</footer>
</body>
</html>